@page "/"

<PageTitle>Index</PageTitle>
<MudButton Variant="Variant.Filled" Color="Color.Primary">Test </MudButton>
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
